{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>El universo</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur error, hic id molestiae, quasi distinctio non libero, possimus nisi accusantium vero eius! Amet sunt quam recusandae ad animi illo dicta!
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/img1.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}